
html{
  font-size: 25;
  font-family: sans-serif;
}

body {
    border: 9px solid black;
}
body {
     background-image: linear-gradient(to right, blue , white);
}
title_font {
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}
p {
  color: red:
}
