
html{
  font-size: 20;
  font-family: Times new roman;
}


h1 {
  color: blue;
}
h2 {
  color: purple;
}
h3{
  color: red;
}
h4{
  color: blue;
}
h5{
  color: red;
}
h6{
  color: blue;
}
body {
    border: 9px dotted yellow;
}
div {
    padding: 15px;
     background-image: linear-gradient(to right, pink , yellow);
     background-clip: padding-box;
}
