
html{
  font-size: 25;
  font-family: sans-serif;
}

body {
    border: 9px dotted blue;
}
div {
    padding: 15px;
     background-image: linear-gradient(to right, pink , yellow);
     background-clip: padding-box;
}
title_font {
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}
p {
  color: red:
}
